:root{
    --color--blanco: #fff;
    --color--negro: #000;
    --color--VerdeOscuro: #285A48;
    --color--VerdeMedio: #408A71;
    --color--VerdeClaro: #B0E4CC;
}

html, body {
  height: 100%;              /* ocupa toda la ventana */
  display: flex;             
  flex-direction: column;    /* apila elementos en columna */
}



footer {
  background-color: var(--color--VerdeMedio);
  margin-top: auto; /* empuja el footer al fondo */
  text-align: center;
  padding: 20px;
}
